* {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    
  }
  
  body {
  
    background: linear-gradient(to bottom, hsl(61, 100%, 77%),#ff953e,#ff5a00);
  }
  
  .body {
    margin: 0;
    padding: 0;
  
  }

  .topo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff5a00;
    height: 20%;
   
  
  }

  .logo {
    display: flex;

 
   
  }
  
  .logo p {
 display: flex;
margin: auto;
height: 0%;
font-size: 40px;
flex-direction: column;
align-items: center;
justify-content: center;
color: aliceblue;
}

.logo p strong {
  margin-top: -10px;
}

  .logo img {

    height: 20%;
    padding: 10px 10px;
    margin: auto;
   
  }
.subtopo {
  height: fit-content;
}
.subtopo h2 {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: #ff5a00;
  justify-content: center;
  margin-top: 10px;
  height: fit-content;
}

.conectese {
  justify-content: center;
  height: fit-content;
  width: 90%;
  margin-inline: auto;
 background-color: #ff953e;
  border-radius: 999px;

}
.conectese h1 {
display: flex;
justify-content: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
margin-top: 20px;
height: fit-content;

}

.links {
  margin-top: 60px;
  display: flex;
 
  flex-direction: column;
  align-items: center;
  height: 0;
  gap: 50px;

}
.links a {
  text-decoration: none;
  color: inherit;
  font-size: 35px;
  margin-bottom: 50px;
  color: rgb(39, 39, 39);
}

.whatsapp:hover {
  color: #ff5a00;
  cursor: pointer;
}

.facebook:hover{
  color: #ff5c05;
  cursor: pointer;
}
.instagram:hover{
  color: #ff5a00;
  cursor: pointer;
}
